.container {
    margin-bottom: 100px;
}

.topmenu {
    display: flex;
    justify-content: space-around;
    text-align: right;
    background: whitesmoke;
    padding: 10px 50px;
    box-sizing: border-box;
    border-bottom: 1px solid silver;
}

.topmenu a {
    color: Red;
}

.taskform {
    max-width: 600px;
    margin: 0 auto;
}

.task {
    background: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sort {
    padding: 10px;
    background: whitesmoke;
    border: 1px solid silver;
    margin: 20px 0;
}
.loginform {
    max-width: 300px;
    margin: 60px auto;
    border: 1px solid silver;
    background: whitesmoke;
    border-radius: 3px;
    padding: 10px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: start;
}

.pagination a{
    display: inline-block;
    border: 1px solid silver;
    padding: 3px 15px;
    border-radius: 3px;
}

.pagination a.active {
    background: black;
    color: #fff;
    margin-right: 2px;
}

.pagination a+a {
    margin-left: 2px;
}

.pagination span {
    margin-right: 10px;
}

.updateForm {
    display: none;
}

.updateForm-active {
    display: block;
}